@font-face {
  font-family: Antonio;
  src: url('../fonts/Antonio-Regular.woff2') format('woff2'),
    url('../fonts/Antonio-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
